
// Body
$body-bg: #F1ECE9;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

$theme-colors: (
        "primary": #A6A5A1
);



@import 'node_modules/bootstrap/scss/bootstrap.scss';

.leadUl {
        padding:0;
        list-style:none;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
        position: relative;
        min-height: 100%;
      }
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

.demo {
  * {
    margin:0;
    padding:0;
  }
  h2 {
    margin-bottom: 1em;
  }

  h4 {
    margin-bottom: 0.5em;
  }

  blockquote {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px;
    border-left: 3px solid #ccc;
  }

  pre {
    background: #eee;
    border: 1px solid #ddd;
    padding: 10px 15px;
    color: #4d4d4c;
    overflow: auto;
  }
}